@font-face{font-family:'Montserrat-Light';font-display:swap;font-weight:300;src:url(/src/fonts/Montserrat-Light.ttf) format("truetype")}
@font-face{font-family:'Montserrat-Regular';font-display:swap;font-weight:400;src:url(/src/fonts/Montserrat-Regular.ttf) format("truetype")}
@font-face{font-family:'Montserrat-Medium';font-display:swap;font-weight:500;src:url(/src/fonts/Montserrat-Medium.ttf) format("truetype")}
@font-face{font-family:'Montserrat-SemiBold';font-display:swap;font-weight:600;src:url(/src/fonts/Montserrat-SemiBold.ttf) format("truetype")}
@font-face{font-family:'Montserrat-Bold';font-display:swap;font-weight:700;src:url(/src/fonts/Montserrat-Bold.ttf) format("truetype");unicode-range:U+0041,U+0045,U+004B,U+004C,U+004E,U+004F,U+0052,U+0053,U+0057,U+0059}

:root {
    --grad: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.25));
    --white-shining: 0 0 10px #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat-Regular', 'Arial', sans-serif;
    background-image: linear-gradient(150deg, #A74FFE 10%, rgba(7, 12, 142, 0.673911) 40%, rgba(78, 64, 243, 0.62) 69%, #00FFFF 90%, #00FF66);
}

.container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}

.text-grad {
    background: linear-gradient(#fff, rgba(255, 255, 255, 0.25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-logo:hover {
    filter: drop-shadow(7px 5px 5px white);
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__item:not(:first-of-type) {
    margin-left: 50px;
}

.menu__link {
    font-size: 18px;
    font-family: 'Montserrat-Medium';
}

.menu__link:hover {
    -webkit-text-fill-color: white;
    text-decoration: none;
    filter: drop-shadow(0 5px 5px white);
}

.header {
    padding: 25px 0;
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 10;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), transparent);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner__title {
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    color: white;
    font-size: 55px;
    line-height: 1.1;
    margin: 0 0 10px 0;
}

.banner__text {
    font-family: 'Montserrat-Light';
    font-size: 26px;
    margin: 0;
    line-height: 1.2;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.who {
    padding-top: 100px;
}

.h2-title {
    text-align: center;
    margin-bottom: 65px;
    font-size: 32px;
    font-family: 'Montserrat-SemiBold';
}

.who__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.who__text {
    margin-right: 100px;
}

.paragraph {
    color: white;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1em;
}

.who__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.who__item {
    color: white;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 7px;
    position: relative;
    padding-left: 27px;
}

.who__item:before {
    content: url(/src/img/arrow-right.svg);
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
}

.who__link {
    color: white;
    text-decoration-style: dashed;
    text-underline-position: under;
    white-space: nowrap;
}

.who__link:hover {
    filter: drop-shadow(0 5px 5px white);
}

.who__img {
    border-radius: 20px;
    box-shadow: var(--white-shining);
}

.what__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.btn {
    background-image: var(--grad);
    border-radius: 10px;
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 0 35px -20px black;
    font-size: 22px;
}

.btn:hover {
    box-shadow: 10px 10px 35px -20px black;
}

.what__img {
    border-radius: 50%;
    box-shadow: var(--white-shining);
    margin: 0 40px 20px;
}

.what__btn {
    width: 170px;
    margin: 0 auto;
}

.use__wrapper--left {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 20px;
}

.use__wrapper--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}

.use__img, .sometimes__img {
    margin: 0 30px;
}

.sometimes__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    padding-bottom: 100px;
}

.more__wrapper, .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more__link, .footer__link {
    width: 200px;
    margin: 0 15px;
}

.h2-title--mb {
    margin-bottom: 35px;
    margin-top: 0;
}

.footer {
    padding: 100px 0 110px;
    background-image: linear-gradient(to top, rgba(34, 34, 34, 0.3) 10%, rgba(141, 141, 141, 0.06) 100%);
}

.year__container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 40px;
}

.year__works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 35px 30px;
}

.work {
    box-shadow: var(--white-shining);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.work__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.work__info {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 25px 20px 20px;
}

.work__title {
    margin: 0 0 10px;
    font-size: 24px;
}

.work__tools {
    margin: 0 0 10px;
    color: white;
    font-size: 18px;
}

.work:hover .work__img {
    opacity: 0;
    z-index: -1;
}

.work:hover .work__info {
    z-index: 1;
    opacity: 1;
}

.work__link {
    width: 170px;
    height: 40px;
    font-size: 18px;
    margin: 0 auto;
}

.year__number {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.year__span {
    font-weight: 'Montserrat-Medium';
    font-size: 70px;
    line-height: 1.1;
    position: sticky;
    top: 100px;
    color: rgba(255,255,255,0.3);
    text-shadow: var(--white-shining);
}