@media (max-width: 1024px) {
    .who__img {
        width: 350px;
    }

    .paragraph {
        font-size: 22px;
    }

    .who__item {
        font-size: 22px;
    }

    .who__text {
        margin-right: 35px;
    }

    .use__wrapper--left {
        margin-left: 50px;
    }

    .use__wrapper--right {
        margin-right: 50px;
    }

    .more__wrapper {
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }

    .more__link {
        margin-bottom: 20px;
    }

    .footer {
        padding: 75px 0 90px;
    }

    .year__container {
        grid-template-columns: 180px 1fr;
        grid-gap: 35px;
    }

    .year__span {
        font-size: 60px;
    }

    .work__title {
        font-size: 28px;
    }

    .work__tools {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .who__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .who__text {
        margin-right: 0;
        order: 1;
        margin-top: 50px;
    }

    .what__img {
        width: 250px;
    }

    .use__wrapper--left {
        margin-left: 0;
        justify-content: center;
    }

    .use__wrapper--right {
        margin-right: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .year__container {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .year__number {
        border-right: none;
    }
}

@media (max-width: 640px) {
    section {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
    }

    .menu__item:not(:first-of-type) {
        margin-left: 35px;
    }

    .banner {
        height: 100vh;
        box-sizing: border-box;
        background-image: none;
    }

    .year__span {
        font-size: 50px;
    }

    .h2-title {
        margin-bottom: 45px;
        font-size: 30px;
    }

    .what__img {
        width: 230px;
        margin: 0 20px 20px;
    }

    .what__wrapper {
        margin-bottom: 55px;
    }

    .sometimes__img, .use__img {
        margin: 0 20px;
        max-width: 120px;
        max-height: 120px;
    }

    .btn {
        font-size: 20px;
        height: 55px;
    }

    .what__btn {
        width: 160px;
    }

    .h2-title--mb {
        margin-bottom: 30px;
    }

    .footer__link, .more__link {
        width: 180px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer {
        padding: 70px 0 75px;
    }
}