@media (max-width: 1024px) {
    .who__img {
        width: 350px;
    }

    .paragraph {
        font-size: 22px;
    }

    .who__item {
        font-size: 22px;
    }

    .who__text {
        margin-right: 35px;
    }

    .use__wrapper--left {
        margin-left: 50px;
    }

    .use__wrapper--right {
        margin-right: 50px;
    }

    .more__wrapper {
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;
    }

    .more__link {
        margin-bottom: 20px;
    }

    .footer {
        padding: 75px 0 90px;
    }

    .year__container {
        grid-template-columns: 180px 1fr;
        grid-gap: 35px;
    }

    .year__span {
        font-size: 60px;
    }

    .work__title {
        font-size: 28px;
    }

    .work__tools {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .who__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .who__text {
        margin-right: 0;
        order: 1;
        margin-top: 50px;
    }

    .what__img {
        width: 250px;
    }

    .use__wrapper--left {
        margin-left: 0;
        justify-content: center;
    }

    .use__wrapper--right {
        margin-right: 0;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .year__container {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .year__number {
        border-right: none;
    }
}

@media (max-width: 640px) {
    section {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
    }

    .menu__item:not(:first-of-type) {
        margin-left: 0;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        transform: translateY(-50%);
        right: 0;
        top: 50%;
        width: 170px;
        background-color: transparent;
        padding: 0;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
    }

    .menu__link {
        background: white;
        display: block;
        font-family: Montserrat-Medium;
        height: 2px;
        margin-bottom: 3px;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
    }

    .menu.opened {
        width: 50vw;
        top: 100%;
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        transform: translateY(0);
    }

    .menu.opened .menu__link {
        background: linear-gradient(#fff,rgba(255,255,255,.25));
        display: initial;
        font-family: Montserrat-Medium;
        height: auto;
        margin-bottom: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        pointer-events: auto;
    }

    .banner {
        height: 100vh;
        box-sizing: border-box;
        background-image: none;
    }

    .who {
        padding-top: 0;
    }

    .year__span {
        font-size: 50px;
    }

    .h2-title {
        margin-bottom: 45px;
        font-size: 30px;
    }

    .what__img {
        width: 230px;
        margin: 0 20px 20px;
    }

    .what__wrapper {
        margin-bottom: 55px;
    }

    .sometimes__img, .use__img {
        margin: 0 20px;
        max-width: 120px;
        max-height: 120px;
    }

    .btn {
        font-size: 20px;
        height: 55px;
    }

    .what__btn {
        width: 160px;
    }

    .h2-title--mb {
        margin-bottom: 30px;
    }

    .footer__link, .more__link {
        width: 180px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer {
        padding: 70px 0 75px;
    }
}

@media (max-width: 480px) {
    .paragraph, .who__item {
        font-size: 19px;
        line-height: 1.5;
    }

    .who__item {
        margin-bottom: 10px;
    }

    .what__img {
        width: 180px;
        margin: 0 10px 15px;
    }

    .btn {
        font-size: 18px;
        height: 50px;
    }

    .sometimes__img, .use__img {
        margin: 0 10px;
        max-width: calc(30% - 20px);
    }

    .year__span {
        font-size: 45px;
    }

    .year__container {
        grid-gap: 25px;
    }

    .footer__link, .more__link {
        width: 160px;
    }
}

@media (max-width: 420px) {
    .banner__title {
        font-size: 50px;
        margin: 0;
    }

    .banner__text {
        font-size: 24px;
    }

    .h2-title {
        margin-bottom: 35px;
        font-size: 28px;
    }

    .top-logo {
        width: 150px;
    }

    .top-logo__img {
        display: block;
        max-width: 100%;
    }

    .paragraph, .who__item {
        font-size: 17px;
    }

    section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .what__img {
        width: 140px;
    }

    .what__wrapper {
        margin-bottom: 40px;
    }

    .btn {
        height: 45px;
    }

    .what__btn {
        width: 150px;
    }

    .more__link {
        margin-bottom: 15px;
    }

    .footer__link, .more__link {
        width: 150px;
    }

    .footer {
        padding: 30px 0 55px;
    }

    .more {
        padding-bottom: 50px;
    }

    .h2-title {
        margin-bottom: 25px;
    }

    .who__img {
        width: 280px;
    }

    .who__text {
        margin-top: 30px;
    }

    .header {
        padding: 15px 0;
    }

    .who__item:before {
        width: 12px;
        height: 12px;
    }

    .who__item {
        padding-left: 22px;
    }

    .work__title {
        font-size: 26px;
    }

    .work__tools {
        font-size: 16px;
    }

    .work__link {
        height: 40px;
        font-size: 17px;
    }

    .work__info {
        padding: 25px 20px;
    }
}

@media (max-width: 380px) {
    .year__span {
        font-size: 40px;
    }

    .year__works {
        grid-gap: 25px;
    }

    .year__container {
        grid-gap: 20px;
    }

    .btn {
        font-size: 17px;
    }

    .footer__link, .more__link {
        margin-left: 8px;
        margin-right: 8px;
        width: 140px;
    }

    .more__link {
        margin-bottom: 12px;
    }

    .h2-title {
        font-size: 26px;
    }
}

@media (max-width: 320px) {
    .banner__title {
        font-size: 43px;
    }

    .banner__text {
        font-size: 21px;
    }

    .paragraph, .who__item {
        font-size: 15px;
    }

    .who__text {
        margin-top: 25px;
    }

    .what__img {
        width: 130px;
    }

    .what__wrapper {
        margin-bottom: 25px;
    }

    .footer__link, .more__link {
        width: 130px;
    }

    .year__span {
        font-size: 37px;
    }

    .work__title {
        font-size: 24px;
    }
}